@font-face {
    font-family: 'News Cycle';
    src: url('news-cycle-regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'News Cycle';
    src: url('news-cycle-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
